<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Summarizer</title>
        <!-- Link to homepage.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutus.css') }}"></head> -->

<body>
    <div class="main-container">
    <div class="blur-circle1">

    </div>
    <div class="blur-circle2">

    </div>
      <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo">Smart <b>Summarizer</b></a>
        <ul class="links">
          <!-- <li>Home</li> -->
          <li><a href="/aboutus">About Us</a></li>
          <!-- <li><a href="/" >Log Out</a></li> -->
          <!-- <li><a href="/options" >Summarize</a></li> -->
          <!-- <li>Info</li> -->
          <!-- <li>Get Started</li> -->
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Looking For a Good Summarization Tool?</h1>
          <p>Smart Summary is an online platfrom that provides the users with precise and accurate summaries</p>
          <button><a href="/options">Explore Options</a></button>
        </div>
        <div class="image">
          <!-- <img class="main-image" src="static\images\pngwing.png" sizes="10px" alt="Unable to load""> -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->
</div>
</body>
</html>