<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
    <!-- <link rel="stylesheet" type="text/css" href="login.scss'"> -->
    <link rel="stylesheet" type="text/css" href="login.scss">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutus.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}"> <!-- Add this line -->
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="homepage">
				<form action="/homepage" method="POST">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button onclick="login()">Login</button>
				</form>
                <script>
                    function login() {
                        document.getElementById("loginForm").submit();
                    }
                </script>
			</div>
	</div>
</body>
</html>